#M项目忽略文件以及文件夹
NodejsHttpWebSocketServer/ws_http.log
CppHttpWebSocketServer/Debug/
#CppHttpWebSocketServer/.vs/
CppHttpWebSocketServer/.vs/CppHttpWebSocketServer/v16/ipch/
CppHttpWebSocketServer/.vs/CppHttpWebSocketServer/v16/Browse.VC.db
CppHttpWebSocketServer/.vs/CppHttpWebSocketServer/v16/Browse.VC.db-shm
CppHttpWebSocketServer/.vs/CppHttpWebSocketServer/v16/Browse.VC.db-wal
CppHttpWebSocketServer/.vs/CppHttpWebSocketServer/v16/Browse.VC.opendb